{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header bg-secondary text-white">
        <h4 class="mb-0">Available Forms</h4>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th>Form Name</th>
                    <th>Initiative</th>
                    <th>Version</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for form_version in forms %}
                <tr>
                    <td>{{ form_version.form.name }}</td>
                    <td>{{ form_version.form.initiative.name_json.en|default:form_version.form.initiative.name_json }}</td>
                    <td>v{{ form_version.version_number }}</td>
                    <td>
                        <a href="{% url 'fill_form' form_version.id %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil-alt"></i> Fill
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No forms available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}